<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1> Code for San Jose </h1>
      <p>Hacking for a better future!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Get hacking!</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="container-fluid">
        <div class="list-group">
          <div class="list-group-item active">
            <h4 class="list-group-item-heading text-primary">
              Projects
            </h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge"> node.js </span>
              CaliDrought
            </li>
            <li class="list-group-item">
              <span class="badge"> python </span>
              CaliSchools
            </li>
            <li class="list-group-item">
              <span class="badge"> python </span>
              HackMyRide
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="container-fluid">
          <div class="list-group">
            <div class="list-group-item active">
              <h4 class="list-group-item-heading text-primary">
                Announcements!
              </h4>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <p> Today I made a sandwich... </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render template: 'shared/meetup_events' %>
    </div>
  </div>
</div>
